.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.modal-manage {
  max-width: 700px;
}

.modal h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  color: var(--color-gray-900);
}

.modal-manage input,
.modal-manage select {
  max-width: 650px;
}

.error {
  color: #e00;
  margin: 0.5rem 0;
  font-size: 0.875rem;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
}

.submit-btn {
  padding: 0.5rem 1rem;
  background: var(--color-primary-700);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cancel-btn {
  padding: 0.5rem 1rem;
  background: rgba(255, 0, 0, 0.692);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.submit-btn:hover,
.cancel-btn:hover {
  transform: translateY(-2px);
}

.existing-acc-btn {
  margin-top: 5px;
  background-color: var(--color-primary-300);
  color: var(--color-gray-400);
  transition: transform 0.5s ease-in;
}

.existing-acc-btn:hover {
  transform: rotate(2deg);
}

.close-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 600px;
}

.close {
  background-color: rgba(255, 19, 19, 0.556);
}

.choices {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.add-new {
  background-color: var(--color-primary-400);
}

.add-new:hover {
  background-color: var(--color-primary-600);
}

.edit-one {
  background-color: rgb(178, 237, 174);
}

.edit-one:hover {
  background-color: rgb(154, 235, 149);
}

.delete-one {
  background-color: rgb(232, 113, 113);
}

.delete-one:hover {
  background-color: rgb(230, 96, 96);
}