.header {
  padding: 1.2rem;
}

.list {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  align-items: flex-start;
}

.list a {
  color: var(--color-gray-900);
  text-decoration: none;
}

.list a:hover,
.list a:active,
.list a.active,
.search:hover {
  color: var(--color-primary-800);
}

.search {
  cursor: pointer;
}
